@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', roboto;
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    margin-top: 24px;
    padding: 24px;
    position: static;
    background-color: green;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: red;
}

h1 {
    color: green;
}

nav a {
    color: white;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    color: green;
}

main>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column: auto;
}

.grid-title {
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-img {
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-rating {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    padding-top: 15px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

th {
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: lightgray;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}

img:hover {
    transform: scale(1.2);
}
